@model Models.Interfaces.IStudent
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student</title>
</head>
<body>
    <div>
        <span style="background-color: aqua">This is Student View.</span><br/><br/>
        <label>Display using ViewBag:</label><br/>
        <label>@ViewBag.Name</label><br/>
        <label>@ViewBag.Surname</label><br/><br/>
        <label>Display using Model</label><br/>
        <br/>

        <div>
            @using (Html.BeginForm())
            {
                <table>
                    <tr>
                        @Html.Hidden("Id")
                    </tr>
                    <tr>
                        <td>@Html.Label("Name")</td>
                        <td>@Html.TextBox("Name")</td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Surname")</td>
                        <td>@Html.TextBox("Surname")</td>
                    </tr>
                </table>
                <input type="submit" name="Save"/>
            }
           

        </div>
    </div>
</body>
</html>
