@model IEnumerable<IStudent>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Students</title>
</head>
<body>
<div>
    <table style="font-size: large; background-color: aqua">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Active</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            @Html.Partial("_StudentRow", item)
        }
        </tbody>

    </table>

</div>

<div>
    <table style="font-size: large; background-color: palegoldenrod">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @Html.Hidden("Id", item.Id)
                    <td>@Html.Label(item.Name)</td>
                    <td>@Html.Label(item.Surname)</td>
                    <td>@Html.CheckBox("Active", item.IsActive)</td>
                </tr>
            }
        </tbody>

    </table>

</div>

<br/>
<b>Telerik Grid</b>
<br/>

@*    Here I am using Telerik Grid to Show Data*@
@*    Add Telerik.Web.Mvc.UI into web.config namespaces*@

<div id="StudentsGrid">
    @(
    
    Html.Telerik().Grid(Model)
        .Name("StudentsGrid")
        .Columns(col =>
        {
            col.Bound(m => m.Id).Hidden().Groupable(false);
            col.Bound(m => m.Name).Groupable(false);
            col.Bound(m => m.Surname).Groupable(false);
            col.Bound(m => m.IsActive).Groupable(true); //I want only this as Grupable
        })
        .Pageable(a => a.PageSize(10))
        .Groupable()
        .Sortable()
        .Scrollable()
        .Filterable()
        
          )
</div>

<br/>
<br/>
<div>
    @Html.ActionLink("Subjects", "Get", "Subject")
</div>

<br/>
<br/>
<div>
    @Html.ActionLink("Logout", "Thanks")
</div>

@*    Add the following to _ViewStart*@

@*@(Html.Telerik().StyleSheetRegistrar().DefaultGroup(g => g.Add("telerik.common.min.css").Add("telerik.web20.min.css").Combined(true).Compress(true)))*@
@*@(Html.Telerik().ScriptRegistrar())*@

</body>
</html>
